*{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

html,body{
    background: #201b2c;
 

}
.container{
    display: flex;
    background: #2f2841;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
  margin-top: 15vw;
    margin-left: 19vw;    
    padding-top: 5px;
    height: 50vh;
    width: 30vw;
    box-shadow: 10px 10px 14px 3px ;
}


.form{
}

.input-box{
    display: grid;
    gap: 0.2rem;
    
}

.input-group{
    color: #77ffc0;
    
}
.title{
    color: #77ffc0;
    padding: 10px;
    
}

#firstname{
    border-radius: 10px;
    background-color: #3c3353;
    
    
}


#firstname2{
    border-radius: 10px;
    background-color: #3c3353;
}


#Email{
    border-radius: 10px;
    background-color: #3c3353;
}


#number{
    border-radius: 10px;
    background-color: #3c3353;
}

#btn {
    padding:4px;
    border-radius: 10px;
    background: #291f3d;
    padding: 9px 90px;
    cursor: pointer;
    border: none;
}

#btn a {
    text-decoration: none;
    color: #77ffc0;
    
}

.img{
    display: flex;

    transform: translate(45%);
    margin-top: -25%;
    margin-left: 15%;
}

.input-box input{
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #000;
    color: #FFF;
}